@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  position: relative;
}

@font-face {
  font-family: "Ubuntu";
  src: url("../assets/Ubuntu/Ubuntu-Regular.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Ubuntu";
  src: url("../assets/Ubuntu/Ubuntu-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Ubuntu";
  src: url("../assets/Ubuntu/Ubuntu-Medium.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Ubuntu";
  src: url("../assets/Ubuntu/Ubuntu-Bold.ttf");
  font-weight: 900;
}

